.card_style{
    cursor: pointer;
    transition: .3s;
    width: 22rem;
    border-radius: 20px;
    background-color: rgb(179, 233, 229);
}

.card_style:hover{
    background-color: bisque;
}
  
  .smalltrash{
      display: none;
  }
  
  
  .card_style:hover{
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  
  .iteamsdetails{
      max-width: 800px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  .items_img{
      flex: .4;
  }
  .items_img img{
      width: 18rem;
      border-radius: 5px;
      
  }
  
  .details{
      flex: .5;
  };
  
  .rating{
      background-color: green;
  }
  
  @media (max-width:772px){
      .iteamsdetails{
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  }
  
  @media (max-width:450px){
      .smalltrash{
          display: block;
      }
      .largetrash{
          display:none;
      }
      .emptycart_img{
          margin-right: 50px;
      }
      .smallclose{
          display: none;
      }
  

     
      .items_img img{
          width: 16rem;
      }
      
  }
  
  .Headerimg{
 
   width: 5rem;
   height: 5rem;
  }

  .card_details{
      width: 24rem;
      padding: 10;
  }
  .fa-cart-shopping{
     font-size: 25;
     cursor: "pointer";
  }
  .emptycart_img{
    width: 3rem;
    padding: 10;
}
.rating{
  
    background-color: green;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
}
.name{
    font-size: 30px;
    /*font-style:italic;*/
    width: 280px;
    font-family: monospace;
    animation: change 2s infinite;
}
@keyframes change {
    from {background-color: lightgreen;}
    to {background-color: lightsalmon;}
  }

.home{
    padding-right: 20px;
    font-weight: bolder;
}
